@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");
body {
  font-family: "Sora", sans-serif;
  background-color: rgb(49, 120, 198);
}

body .container {
  display: flex;
  justify-content: center;
}

body .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3em;
}
